<p id="notice"><%= notice %></p>

<h1>
    <%= @user.username %>
</h1>
<p>
    <%= "Has rated " %>
    <%= @user.ratings.count %>
    <%= " beers." %>
</p>
<p>
    <%= "Average rating:" %>
    <%= @user.average_rating.round(2) %>
</p>

<h2>
    Ratings
</h2>
<ul>
    <% @user.ratings.each do |r| %>
        <li>
        <%= r.to_s %>
        <% if @user == current_user %>
            <%= link_to 'delete', r, method: :delete, data: { confirm: 'Are you sure?'} %>
        <% end %>
        </li>
    <% end %>
</ul>

<% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you serious?' } %>
<% end %>
<%= link_to 'Back', users_path %>
